# -----------------------------------------------------------------------------
# MetalLB Configuration - us103-k3s01

# Bryan Smith
# BSmithITGuy@gmail.com
# Last modified:  10/29/2025

# Purpose: Deploys the MetalLB controller & speaker components.
# Managed by: ArgoCD (future)
# -----------------------------------------------------------------------------

apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: app-pool
  namespace: metallb-system
spec:
  addresses:
    - 172.25.250.32/27    # app BGP VIPs
  autoAssign: true
---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: infra-pool
  namespace: metallb-system
spec:
  addresses:
    - 172.25.200.32/27    # reserved for infra consoles (future)
  autoAssign: true
---
apiVersion: metallb.io/v1beta1
kind: BFDProfile
metadata:
  name: opnsense-bfd
  namespace: metallb-system
spec:
  transmitInterval: 200
  receiveInterval: 200
  detectMultiplier: 10
  echoMode: false         #  REQUIRED for OPNsense
---
apiVersion: metallb.io/v1beta2
kind: BGPPeer
metadata:
  name: opnsense
  namespace: metallb-system
spec:
  peerAddress: 10.250.3.1
  peerASN: 65000
  myASN: 65002
  bfdProfile: opnsense-bfd
  ebgpMultiHop: false
---
apiVersion: metallb.io/v1beta1
kind: BGPAdvertisement
metadata:
  name: bgp-announce
  namespace: metallb-system
spec:
  ipAddressPools:
    - app-pool
