---
# -----------------------------------------------------------------------------
# Cilium BGP pools - us103-kubeadm01
# Bryan Smith
# BSmithITGuy@gmail.com
# Last modified: 11/04/2025
# Purpose: BGP VIP pools
# -----------------------------------------------------------------------------

# BGP Pool for User Applications
apiVersion: cilium.io/v2alpha1
kind: CiliumLoadBalancerIPPool
metadata:
  name: app-pool-bgp
spec:
  blocks:
  - cidr: 172.25.250.96/27
  serviceSelector:
    matchLabels:
      io.cilium/bgp-announce: "bgp"
      io.cilium/lb-pool: "app-pool"

---
# BGP Pool for Public Infrastructure
apiVersion: cilium.io/v2alpha1
kind: CiliumLoadBalancerIPPool
metadata:
  name: infra-bgp-pool
spec:
  blocks:
  - cidr: 172.25.200.96/27
  serviceSelector:
    matchLabels:
      io.cilium/bgp-announce: "bgp"
      io.cilium/lb-pool: "infra-bgp-pool"