#  Author:  Bryan Smith
#  date:    11/10/2025

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml

helmCharts:
  - name: velero
    repo: https://vmware-tanzu.github.io/helm-charts
    version: 11.1.1
    releaseName: velero
    namespace: velero
    valuesFile: values.yaml