#  Author:  Bryan Smith
#  date:    11/10/2025
#  Base velero config - all clusters

# Override kubectl image - use Bitnami's AWS ECR repo (has recent versions)
# Docker Hub bitnami/kubectl is outdated, but ECR has current releases
# Reference: https://github.com/vmware-tanzu/helm-charts/issues/698
kubectl:
  image:
    repository: public.ecr.aws/bitnami/kubectl
    tag: "1.31"

deployNodeAgent: true

nodeAgent:
  podVolumePath: /var/lib/kubelet/pods
  privileged: false
  resources:
    requests:
      cpu: 500m
      memory: 512Mi
    limits:
      cpu: 1000m
      memory: 1024Mi

resources:
  requests:
    cpu: 500m
    memory: 128Mi
  limits:
    cpu: 1000m
    memory: 512Mi

metrics:
  enabled: true
  serviceMonitor:
    enabled: false

credentials:
  useSecret: true
  existingSecret: velero-s3-credentials

initContainers:
- name: velero-plugin-for-aws
  image: velero/velero-plugin-for-aws:v1.9.0
  volumeMounts:
  - mountPath: /target
    name: plugins