# Ansible config
# Reference: https://docs.ansible.com/ansible/latest/reference_appendices/config.html

[defaults]
inventory = inventory/us103/
roles_path = roles/
retry_files_enabled = False
timeout = 30
log_path = /srv/logs/ansible/ansible.log