---
# -----------------------------------------------------------------------------
# Cilium l2 policy - us103-kubeadm01
# Bryan Smith
# BSmithITGuy@gmail.com
# Last modified: 11/04/2025
# Purpose:  Announces VIPs via ARP on VLAN200 (eth2)
# -----------------------------------------------------------------------------

apiVersion: cilium.io/v2alpha1
kind: CiliumL2AnnouncementPolicy
metadata:
  name: l2-policy-vlan200
spec:
  nodeSelector:
    matchLabels:
      node-role.kubernetes.io/worker: "true"  # Only workers have eth2
  interfaces:
  - eth2  # VLAN200 interface
  externalIPs: true
  loadBalancerIPs: true
  serviceSelector:
    matchLabels:
      io.cilium/l2-announce: "true"