#  Author:  Bryan Smith
#  date:    11/11/2025
#  us103-talos01 velero values overlay
#  Notes:  uses TrueNAS MinIO for S3:  https://10.0.0.30:9002
#  172.16.1.0/27 is a private VLAN inside/between hosts (P2P)

# Kubectl image version matching this cluster's K8s version (1.34.0)
# Using official K8s registry since bitnami doesn't have 1.34.0 yet
kubectl:
  image:
    repository: registry.k8s.io/kubectl
    tag: "v1.34.0"

configuration:
  backupStorageLocation:
  - name: default
    provider: aws
    bucket: velero-talos01
    default: true
    config:
      region: us-east-1
      s3ForcePathStyle: "true"
      s3Url: http://172.16.1.30:9000
      publicUrl: http://172.16.1.30:9000

  volumeSnapshotLocation:
  - name: default
    provider: aws
    config:
      region: us-east-1

schedules:
  daily-full-talos:
    disabled: false
    schedule: "0 1 * * *"  # 1 AM daily
    useOwnerReferencesInBackup: false
    template:
      ttl: "168h"  # 7 days
      includedNamespaces:
      - "*"
      defaultVolumesToFsBackup: true
      snapshotVolumes: false

  hourly-critical-talos:
    disabled: false
    schedule: "0 */6 * * *"  # Every 6 hours
    useOwnerReferencesInBackup: false
    template:
      ttl: "72h"  # 3 days
      includedNamespaces:
      - netbox
      - argocd
      - kube-system
      defaultVolumesToFsBackup: true
      snapshotVolumes: false